h3 {
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 667px) 
    and (-webkit-min-device-pixel-ratio: 2) { 
        font-size: 2.52rem;
    }
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}